body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #363636;
    color: white;
}

header {
   text-align: center;
   background-color: #363636;
   color: white;
   font-weight: bold;
}

footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

footer p {
    text-align: center;
}

h2 {
    color: white;
    text-align: center;
}

img {
    width: 100%;
}

.film iframe {
    width: 100%;
    aspect-ratio: 16 / 9;
    border: none;
}

.zdjecia {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.zdj {
    flex: 1 1 calc(33.333% - 10px);
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 5%;
    text-align: center;
    font-size: larger;
    box-sizing: border-box;
    width: 300px;
}

.filmy {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.film {
    flex: 1 1 calc(50% - 10px);
    background-color: rebeccapurple;
    padding: 20px;
    border-radius: 5%;
    text-align: center;
    font-size: larger;
    box-sizing: border-box;
    width: 300px;
}